header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 100px !important;
  align-items: center;
  padding-right: 50px;
  box-sizing: border-box;
}

header .logo {
  width: 200px;
}

header .navlist {
  position: relative;
  display: flex;
  gap: 20px;
}

header .navlist a {
  width: fit-content;
  padding: 15px 20px 15px 20px;
  font-size: 18px;
  background-color: var(--background-seconday);
  border-radius: 5px;
  text-decoration: none;
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  transition: 0.2s all ease;
}

header .navlist a:hover {
  background-color: var(--text-primary);
  color: var(--background-primary);
}

header .nav-menu-button {
  width: 50px;
  height: 50px;
  background-color: var(--background-seconday);
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: none;
}

@media only screen and (max-width: 1150px) {
  .navlist {
    position: absolute !important;
    width: 350px;
    top: 100px;
    right: -100%;
    flex-direction: column;
    z-index: 1;
    background-color: var(--background-primary);
    border-radius: 5px;
    border: 1px solid var(--text-primary);
    padding: 2%;
    box-sizing: border-box;
    align-items: center;
  }

  .navlist.selected {
    right: 0;
  }

  .navlist a {
    position: relative;
    width: 80% !important;
  }

  header .nav-menu-button {
    display: block;
  }
}
