:root {
  /* -- Colors: */
  --body-bg-color: #38a2e5;
  --checkbox-color-hue: 216;
  --checkbox-color-saturation: 17;
  --checkbox-color-lightness: 15;
  --checkbox-color-light: var(--text-primary);
  --checkbox-color-dark: var(--text-primary);
  --checkbox-color: var(--background-primary);

  /* -- Box */
  --checkbox-border-radius: 15%;
  --checkbox-width: 20;
  --checkbox-height: 20;

  --text-opacity: 0.6;

  --negative-shadow-offset: 500;
  --active-shadow-opacity: 0;

  /* -- easing */
  --cubic-bezier: cubic-bezier(0.6, -1.2, 0.2, 2.2);

  /* -- misc */
  --debug: 0;
}

.catalog-wrapper {
  position: relative;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  gap: 20px;
}

.filters {
  position: sticky;
  top: 20px;
  background-color: var(--background-secondary);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 670px;
  max-height: 670px;
}

.filters .title {
  position: relative;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}

.filters .filter-options {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filters .filter-options .name {
  font-size: 20px;
  text-transform: uppercase;
}

.filter-option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  grid-gap: 0.8em;
  transform: scale(1);
}

.price-inputs {
  position: relative;
  width: 100%;
  display: flex;
  gap: 20px;
  box-sizing: border-box;
}

.price-inputs .price-input {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.price-inputs .price-input label {
  font-size: 18px;
}

.price-inputs .price-input input {
  width: 100%;
  border-radius: 5px;
  background-color: var(--background-primary);
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  padding-left: 5px;
  height: 35px;
  font-size: 20px;
}

.products-wrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}

.filters .toggle-filters {
  position: absolute;
  right: 20px;
  font-size: 30px;
  background-color: transparent;
  color: var(--text-primary);
  cursor: pointer;
  display: none;
  z-index: 10;
}

.apply-btn {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
  cursor: pointer;
  transition: 0.2s all ease;
  text-transform: uppercase;
  font-size: 18px;
}

.apply-btn:hover {
  color: var(--background-primary);
  background-color: var(--text-primary);
}

@media only screen and (max-width: 600px) {
  .catalog-wrapper {
    flex-direction: column;
  }

  .toggle-filters {
    display: block !important;
  }

  .filters {
    width: 100%;
    position: relative;
    top: 0;
    height: 70px !important;
    min-height: 70px;
    overflow: hidden;
  }

  .filters.shown {
    height: 670px;
    min-height: 670px;
  }
}
