:root {
  /* -- Colors: */
  --body-bg-color: #38a2e5;
  --checkbox-color-hue: 216;
  --checkbox-color-saturation: 17;
  --checkbox-color-lightness: 15;
  --checkbox-color-light: var(--text-primary);
  --checkbox-color-dark: var(--text-primary);
  --checkbox-color: var(--background-primary);

  /* -- Box */
  --checkbox-border-radius: 15%;
  --checkbox-width: 20;
  --checkbox-height: 20;

  --text-opacity: 0.6;

  --negative-shadow-offset: 500;
  --active-shadow-opacity: 0;

  /* -- easing */
  --cubic-bezier: cubic-bezier(0.6, -1.2, 0.2, 2.2);

  /* -- misc */
  --debug: 0;
}

.catalog-wrapper {
  position: relative;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  gap: 20px;
}

.filters {
  position: sticky;
  top: 20px;
  background-color: var(--background-secondary);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 720px;
  max-height: 720px;
}

.filters .title {
  position: relative;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

.filters .filter-options {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filters .filter-options .name {
  font-size: 22px;
  text-transform: uppercase;
}

.filter-option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  grid-gap: 0.8em;
  transform: scale(1);
}

.filter-option select {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: transparent;
  color: var(--text-primary);
  font-size: 18px;
  border-bottom: 2px solid var(--text-primary);
}

label[for*="checkbox"] {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 8px;

  color: rgba(255 255 255 / var(--text-opacity));
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 400;

  color: var(--text-primary);

  transition: --text-opacity 0.2s ease;

  &:hover {
    --text-opacity: 1;

    input[type="checkbox"] {
      --checkbox-color-hue: 216;
      --checkbox-color-saturation: 14;
      --checkbox-color-lightness: 18;
      --checkbox-color: #38a2e5;
    }
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: calc(var(--checkbox-width) * 1px);
    height: calc(var(--checkbox-height) * 1px);
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    border-radius: var(--checkbox-border-radius);
    pointer-events: none;
    filter: invert(100%);
    transition: opacity 0.3s ease, filter 0.3s ease,
      transform 0.3s var(--cubic-bezier);
  }

  &:has(input[type="checkbox"]:checked) {
    &:after {
      filter: invert(0%);
    }
  }

  & input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    margin: 0;
    background: var(--checkbox-color);
    width: calc(var(--checkbox-width) * 1px);
    height: calc(var(--checkbox-height) * 1px);
    border: calc(calc(var(--checkbox-width) / 15) * 1px) solid black;
    border-radius: var(--checkbox-border-radius);
    box-shadow: inset 0 0 calc(calc(var(--checkbox-width) / 10) * 1px)
        rgba(0 0 0 / calc(var(--active-shadow-opacity))),
      inset 0 calc(calc(var(--checkbox-width) / 20) * 1px)
        calc(calc(var(--checkbox-width) / 30) * 1px)
        calc(calc(var(--checkbox-width) / var(--negative-shadow-offset)) * -1px)
        var(--checkbox-color-light),
      inset 0 calc(calc(var(--checkbox-width) / 20) * -1px)
        calc(calc(var(--checkbox-width) / 15) * 1px)
        calc(calc(var(--checkbox-width) / var(--negative-shadow-offset)) * -1px)
        var(--checkbox-color-dark);
    transition: --checkbox-color-hue 0.1s ease,
      --checkbox-color-saturation 0.1s ease,
      --checkbox-color-lightness 0.1s ease, --checkbox-color 0s ease,
      --negative-shadow-offset 0.2s ease;

    &:active,
    &:checked {
      --checkbox-color-hue: 264;
      --checkbox-color-saturation: 56;
      --checkbox-color-lightness: 49;
      --checkbox-color: #38a2e5;
    }

    &:checked {
      --checkbox-color-hue: 265;
      --checkbox-color-saturation: 80;
      --checkbox-color-lightness: 61;
      --checkbox-color: #38a2e5;
    }
  }

  &:active {
    --active-shadow-opacity: 0.8;

    & input[type="checkbox"] {
      --negative-shadow-offset: 0;
    }
  }
}

.price-inputs {
  position: relative;
  width: 100%;
  display: flex;
  gap: 20px;
  box-sizing: border-box;
}

.price-inputs .price-input {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.price-inputs .price-input label {
  font-size: 18px;
}

.price-inputs .price-input input {
  width: 100%;
  border-radius: 5px;
  background-color: var(--background-primary);
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  padding-left: 5px;
  height: 40px;
  font-size: 20px;
}

.products-wrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}

.filters .toggle-filters {
  position: absolute;
  right: 20px;
  font-size: 30px;
  background-color: transparent;
  color: var(--text-primary);
  cursor: pointer;
  display: none;
  z-index: 10;
}

@media only screen and (max-width: 600px) {
  .catalog-wrapper {
    flex-direction: column;
  }

  .toggle-filters {
    display: block !important;
  }

  .filters {
    width: 100%;
    position: relative;
    top: 0;
    height: 80px !important;
    min-height: 80px;
    overflow: hidden;
  }

  .filters.shown {
    height: 720px;
    min-height: 720px;
  }
}
